.idea
.ipynb*
hera/doc/build
hera/doc/sphinx/_build
hera/doc/source/auto_examples
hera/doc/source/datalayer/addgetdata.rst
hera/logging/log
__pycache__
*.pyc
*.swp
*.log
build 
dist
pyhera.egg-info/
venv
heraenv
.venv
.python-version
hera/tests/env.template
node_modules/
projects/
mongo-db-datadir/
ui/client/data/
notebooks/
.vscode/
pytest_*/