# This file includes the requirements for building the docs

-r requirements.txt   # Include operational requirements
nbconvert
jupyter-core
ipykernel
sphinx
nbsphinx
numpydoc
sphinx_gallery
# For testing the notebooks
nbmake
